
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background-color: lavenderblush;
}

h1 {
  font-family: "Ultra";
}

button {
  font-family:"Times New Roman", Times, serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
